<div class="container">
  <div class="mt-4">
    <h3 class="font-weight-bold">会員情報編集</h3>
    <!-- エラーメッセージ -->
    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <!-- 編集フォーム -->
    <div class="mt-5">
      <%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
        <div class="form-group row mt-2">
          <%= f.label :image, "ユーザー画像", class: "col-md-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.file_field :image, class: "btn" %>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-md-2">氏名</label>
          <div class="col-md-5">
            <%= f.label :（姓）, class: 'col-form-label' %>
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-md-5">
            <%= f.label :（名）, class: 'col-form-label' %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-md-2">カナ</label>
          <div class="col-md-5">
            <%= f.label :（ｾｲ）, class: 'col-form-label' %>
            <%= f.text_field :last_name_kana, class: "form-control" %>
          </div>
          <div class="col-md-5">
            <%= f.label :（ﾒｲ）, class: 'col-form-label' %>
            <%= f.text_field :first_name_kana, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-md-3">紹介文</label>
          <div class="col-md-9">
            <%= f.text_area :introduction, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-md-3">電話番号</label>
          <div class="col-md-9">
            <%= f.text_field :phone_number, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-md-3">メールアドレス</label>
          <div class="col-md-9">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <!-- 編集内容を保存ボタン -->
        <div class="form-group row mt-3">
          <div class="col-md-9 offset-md-3 text-center">
            <%= f.submit "編集内容を保存", class: "btn btn-sm btn-success px-5 font-weight-bold" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- 退会ボタン -->
    <div class="form-group row mt-3">
      <div class="col-md-9 offset-md-3 text-center">
        <%= link_to "退会する", users_confirm_withdraw_path, class: "btn btn-sm btn-danger px-5" %>
      </div>
    </div>
  </div>
</div>

