<div class="container">
  <div class="row">
    <div class="col-4">
       <%= image_tag @user.image, class: "rounded-circle", size: "200x200" %>
       <%= @user.last_name %> <%= @user.first_name %>
      </div>
      <thead>
        <div class="col-8">
         <table>
          <thead>
            <tr>
              <th>投稿</th>
              <th>フォロワー</th>
          　　<th>フォロー中</th>
          　<tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><%= link_to @user.followings.count, user_followings_path(@user) %></td>
            　<td><%= link_to @user.followers.count, user_followers_path(@user) %></td>
           </tr>
          </tbody>
        </table>  
         <div class="text-center">
            <%= @user.introduction %> 
         </div>
         <% unless @user.guest_user? %>
            <div>
             <%= link_to "編集する", edit_user_path, class: "pull-right btn  btn-sm btn-success col-2 mx-3 font-weight-bold" %>
            </div>
            <% end %>
         
        </div>
        
        
      <!--登録情報テーブル-->
      <table class="teble table-bordered px-2 col-8 mt-3">
        <tr>
          <th class="col-3 table-active py-2">氏名</th>
          <td class="pl-1"><%= @user.last_name %> <%= @user.first_name %></td>
        </tr>
        <tr>
          <th class="col-3 table-active py-2">カナ</th>
          <td class="pl-1"><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
        </tr>
        <tr>
        <tr>
          <th class="col-3 table-active py-2">紹介文</th>
          <td class="pl-1"><%= @user.introduction %></td>
        </tr>
        <tr>
          <th class="col-3 table-active py-2">follows</th>
          <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
        </tr>
        <tr>
          <th class="col-3 table-active py-2">followers</th>
          <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
        </tr>
      </table>

     </thead>
   <tbody>
    <% @posts.each do |posts| %>
      <tr>
        <td><%= link_to(posts.user) do %>
          <%= image_tag posts.get_image(50,50) %>
          <% end %>
        </td>
        <td><%= link_to posts.name, posts %></td>
      </tr>
    <% end %>
  </tbody>

  </div>
</div>

<% unless @user.guest_user? %>
            <div>
             <%= link_to "編集する", edit_user_path, class: "pull-right btn  btn-sm btn-success col-2 mx-3 font-weight-bold" %>
            </div>
             <% end %>

           <%= render "user/relationships/btn", user: @user, options: { class: ""} %>

           <!--現在ログインしているユーザーではないという条件式をつける-->
            <% unless @user.id == current_user.id %>
            <!--相互フォロー状態のときの条件式も付け足す-->
            <% if (current_user.following? @user) && (@user.following? current_user)  %>
                <!-- 既にroomが存在していれば既存のroomへ -->
                <% if @isRoom == true %>
                   <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
                <% else %>
                    <!-- roomが存在していなければroomを作成する  -->
        	        <%= form_for @room do |f| %>
        	            <%= fields_for @entry do |e| %>
        	               <%= e.hidden_field :user_id, value: @user.id %>
        	            <% end %>
        	            <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
        	        <% end %>
        	    <% end %>
            <% end %>
          <% end %>