<div class="card-list-container">
  <% posts.each do |post| %>
    <div class="card mx-auto mt-2 shadow-lg">
      <%= link_to post_path(post.id), data: { "turbolinks" => false }, class: "text-decoration: none" do %>
        <div class="card-image">
         <%= image_tag post.image, class: "card-img", alt: "Post Image", style: "width: 380px; height: 350px; object-fit: cover;" %>
        </div>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-4 col-md-2">
            <%= link_to user_path(post.user.id) do %>
              <%= image_tag post.user.image, class: "mt-3 rounded-circle", size: "50x50" %>
            <% end %>
          </div>
          <div class="col-8 col-md-10">
            <p class="card-title">
              <%= link_to(post_path(post.id), class: "text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= post.name %></span></strong>
              <% end %>
            </p>
            <div id="star-rate<%= post.id %>">
              <script>
                $('#star-rate<%= post.id %>').empty();
                window.raty(document.querySelector('#star-rate<%= post.id %>'), {
                  size: 36,
                  starOff: '<%= asset_path('star-off.png') %>',
                  starOn: '<%= asset_path('star-on.png') %>',
                  half: false,
                  readOnly: true,
                  score: <%= post.star %>,
                });
              </script>
            </div>
            <span class="pt-1"><i class="fas fa-user"></i><%= post.user.name %> | </span>
            <span><%= link_to "#{post.comments.count} コメント", post_path(post.id), class: "text-dark" %></span>
            <span id="favorite_btn_<%= post.id %>">
              <%= render "user/favorites/btn", post: post %>
            </span>
            <div><%= post.created_at.strftime('%Y/%m/%d') %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
