<div class="container">
  <div class="row">
    <div class="col-3 mt-3">
    <table>
     <tr>
      <th class=pb-4><%= link_to user_path(@user.id) do %>
            　<%= image_tag @post.user.image,  class: "rounded-circle",size:"250x250" %>
            <% end %>
      </th>
     </tr>
     <tr>
       <td class="text-center mt-5" ><%= @user.last_name %> <%= @user.first_name %></td>
     </tr>
    </table>
   </div>
   <div class="col-4">
    <div class="name text-center">
    <%= @post.name %>
    <div class="mt-5">
    <%= render "user/favorites/btn", post: @post %>
    </div>
    </div>
   </div>
   <div class="col-4 mt-3">
     <%= image_tag @post.image, class:"card-img-top",size:"350x350" %>
   </div>
  </div>
</div>
<div class="container mt-5">
  <div class="mb-4 pt-3">
    <%= @post.introduction %>
  </div> 
</div>
<div class="container mt-5">
  <div id="star-rate<%= @post.id%>">
          <script>
            $('#star-rate<%= @post.id %>').empty();
            window.raty(document.querySelector('#star-rate<%= @post.id%>'), {
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= @post.star %>,
            });
          </script>
  </div> 
</div>
          <td><%= @post.introduction %></td>
          <td><%=  link_to @post.address, maps_path(address: @post.address) %></td>
          <td>コメント数： <%= @post.comments.count %></td>
          <td>
            
          </td>

          <% if @post.user == current_user %>
                <td><%= link_to 'Edit', edit_post_path(@post.id), class: "btn btn-sm btn-success" %></td>
                <td><%= link_to 'Destroy', post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
        </tr>
      </table>

      <%= render "user/comments/index", post: @post %>
      <%= render "user/comments/form", post: @post, comment: @comment %>

          </div>
        </div>
      </div>