<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-3 mt-3 text-center">
      <%= link_to user_path(@user.id) do %>
        <%= image_tag @post.user.image, class: "rounded-circle", size: "200x200" %>
      <% end %>
      <p class="mt-3"><%= @user.last_name %> <%= @user.first_name %></p>
    </div>
    <div class="col-sm-12 col-md-3 mt-3 text-center">
      <div class="name">
        <%= @post.name %>
      </div>
      <div class="mt-3">
       <div id="favorite_btn_<%= @post.id %>">
         <%= render "user/favorites/btn", post: @post %>
       </div>
      <div class="mt-3">
        <%= @post.comments.count %>コメント数
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mt-3 text-center">
      <%= image_tag @post.image, class: "card-img-top img-fluid", alt: "Post Image", style: "width: 100%" %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-1"></div>
  <div class="col-10 border border-dark my-3">
    <%= @post.introduction.gsub(/\n/, "<br>").html_safe %>
    <%= render 'user/posts/star',post: @post %>
    住所：<%= link_to @post.address, maps_path(address: @post.address) %>(※押したら地図が表示されます)
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <% if @post.user == current_user %>
        <%= link_to '編集', edit_post_path(@post.id), class: "btn btn-outline-success btn-block" %>
      <% end %>
    </div>
    <div class="col-5">
      <% if @post.user == current_user %>
    <%= link_to '削除', post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger btn-block" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 border border-dark">
      <div class="comment-zone">
        <%= render "user/comments/index", post: @post %>
      </div>
      <%= render "user/comments/form", post: @post, comment: @comment %>
    </div>
  </div>
</div>